.container{
    width: 100vh !important;
    height: 100vh !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
}
.answer-row{
    display: block !important;
}
.title-name{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800 !important;
    color: royalblue;
}
.input-name{
    margin-bottom: 40px;
    height: 3rem;
    width: 20rem;
    font-weight: 800;
    color: royalblue;
    border-radius: 10px;
    background-color:  rgb(187, 207, 223);
    border: solid 5px royalblue;
}
.title{
    margin-bottom: 2rem;
    font-size: 5rem;
    border: 10px rgb(63, 91, 173) dotted;
    background-color: rgb(143, 165, 224);
    padding: 60px;
    border-radius: 100px;
    color: royalblue;
}
.start-button{
    margin-bottom: 10px;
    background-color: royalblue !important;
    font-weight: 500;
    color:  rgb(143, 165, 224);
    width: 160px;
    font-size: 20px;
    cursor: grab !important;
}
.answer-button{
    margin-bottom: 10px;
    background-color: royalblue !important;
    font-weight: 500;
    margin-left: 10px;
    color:  rgb(143, 165, 224);
    width: 300px;
    font-size: 20px;
    cursor: grab !important;
}